body {
    background: linear-gradient(180deg, #fde808 10%, #e63b3d 90%);
}

.header {
    display: flex;
    background-color: #cea500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header-logo {
    width: 8%;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.header-pages {
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    left: 10%;
    color: #191919;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 25%;
    height: 100%;
}

.pages-link {
    display: inline-block;
    padding: 15px 15px;
    background-color: #cca400;
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    color: #191919;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0s;
}

.pages-link:hover {
    background-color: #bc9800;
}